*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: rgba(14, 75, 84, 0.773);
    font-family: serif;
}
.container{   
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    gap: 0.6rem;
}
input{
    border-radius: 4px;
    height: 3rem ;
    width: 52rem;
    background: rgba(10, 111, 66, 0.568);
    outline: none;
    border: 2px solid black;
    font-size: 200%;
    padding-left: 0.4rem;
}
.display{
    font-size: 200%;
    background: rgba(21, 205, 24, 0.72);
    border-radius: 3px;
    width: 9rem;
    font-weight: 548;
    cursor: pointer;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: rgba(23, 28, 28, 0.946);
    font-size: 160%;
    font-weight: 700;
    text-decoration: underline;
}
p{
    border: 4px solid white;
    display: flex;
    justify-content: center;
    width: 60rem;

}
